# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment variables
.env

# ==========================
# Visual Studio
# ==========================
.vs/
obj/
bin/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pyproj.user

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# JetBrains
# ==========================
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# Flask Cache
# ==========================
.flaskenv

# Database
*.db

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Mypy
# ==========================
.mypy_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/